 #horizontalmenu ul {
        
		
		
			margin: 0;
	padding:2;
	list-style: none;
	padding-left: 2px;
	text-align: center;
	
	width: 1160;
	height: 27;
    }
    #horizontalmenu li {
        float: left;
        position: relative;
        padding-right: 100;
        display: block;
        border: 4px solid #7C7C7D;
        border-style: inset;
    }
    #horizontalmenu li ul {
        display: none;
        position: absolute;
		border: 1px solid #2C4C7C;
		text-shadow: 0px 2px 3px #555;
		
    }
    #horizontalmenu li:hover ul {
        display: block;
        background-color: #005883; 
        height: auto;
		width: 1em;
	}

	#horizontalmenu ul li a {
		
		
		font: 22px verdana;
		font-family: Franklin Gothic Book;
		color: black;
		margin-top: 2px;
		margin-left: 2px;
		
		
    }
    #horizontalmenu li ul li {
        clear: both;
        border-style: none;
    }
	
	body {
	background-color: #005883; 
	padding: 60 40px;
	text-align: center;
	}


	#logo-header {
	float: right;
vertical-align: text-top;
position: absolute;
  top:  25px; 
  left: 1060px;

}
.aside1{
	
	margin-top: 10px;
	float: right;
	width: 240px;
}

h1 {
	font-family: Franklin Gothic Book;
	font-size: 240%
	background-color: #005883; 
	
}
h2 {
font: 22px normal;
font-family: Franklin Gothic Book;
font-size: 170%;
background-color: #005883; 
}
h3 {
font: 18px normal;
font-family: Franklin Gothic Book;
text-align: left;
background-color: #005883; 
/*font-size: 170%*/
}

#test {
	
	float: left;
	vertical-align: text-top;
	max-width: 40%;
    height: auto;
    width: auto/9; /* Bug de ie8 */
}

footer { 
clear: both 
}

footer h1 {
text-align: center; font-size: 0.9em;  padding: 0.7em; 
}

footer h2 {
text-align: center; font-size: 1em; padding: 0.4em; 
}

footer a {
text-decoration: none; color: white; 
}