
body {
	background-color: #005883; 
	
padding: 60 40px;
text-align: center;
}

nav {
	float: center;
	margin: 0;
	padding: 1;
	/*width: 50;
height: 50;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul {
	
	margin: 0;
	padding:2;
	list-style: none;
	padding-left: 2px;
	text-align: center;
	background: white; 
	width: 1160;
height: 27;
}
	
nav ul li {                    /*menu horizontal*/
		display: inline-block;
		border: 1px solid #7C7C7C;
		
		text-shadow: 0px 2px 3px #555;

	}
			
nav ul li a {
			display: block;
				padding: 0 20px;
				font: 22px verdana, sans-serif;
				font-family: Franklin Gothic Book;
				text-shadow: 0px 2px 3px #555;
		}


#logo-header {
	float: right;
vertical-align: text-top;
position: absolute;
  top:  25px; 
  left: 1060px;

}
.aside1{
	background: white;
	margin-top: 10px;
	float: right;
	width: 240px;
}

h1 {
	font-family: Franklin Gothic Book;
	font-size: 240%

}
h2 {
font: 22px normal;
font-size: 170%
}
h3 {
font: 18px normal;
text-align: left;
/*font-size: 170%*/
}

#test {
	float: left;
vertical-align: text-top;
max-width: 40%;
    height: auto;
    width: auto/9; /* Bug de ie8 */
}

footer { clear: both }
footer h1 { text-align: center; font-size: 0.9em;  padding: 0.7em; }
footer h2 { text-align: center; font-size: 1em; padding: 0.4em; }
footer a { text-decoration: none; color: white; }